.footer {
    background-color: var(--rt-color-secondary-700);
    color: var(--rt-color-secondary-100);
    font-size: 1rem;
}

.footer__title {
    font-family: var(--rt-font--secondary);
    font-size: 3rem;
    color: var(--rt-color-white);
    text-align: center;
}

.footer__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer__nav-item + .footer__nav-item {
    margin-top: 1rem;
}

@media (min-width: 1000px) {
    .footer__content-wrapper {
        flex-direction: row;
    }

    .footer__about {
        max-width: 30%;
    }
}