.recipe {
    background-color: var(--rt-color-white);
    max-width: 44rem;
}

.recipe__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.recipe__title {
    font-family: var(--rt-font--secondary);
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--rt-color-stone-900);
    line-height: 3rem;
}

.recipe__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.recipe__section-title {
    font-family: var(--rt-font--secondary);
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--rt-color-brown-800);
}

.recipe__divider {
    width: 100%;
    height: 1px;
    background-color: var(--rt-color-stone-150);
    border: 0;
}

.recipe__callout {
    padding: 1.5rem;
    background-color: var(--rt-color-rose-50);
    border-radius: 15px;
}

.recipe__callout-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--rt-color-rose-800);
    margin-bottom: 1rem;
}

.recipe__callout .recipe__list-item::marker {
    color: var(--rt-color-rose-800);
}

ul.recipe__list {
    list-style-type: disc;
}

ol.recipe__list {
    list-style-type: decimal;
}

.recipe__list-item {
    list-style-type: inherit;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.recipe__list-item:not(:last-child) {
    margin-bottom: 1rem;
}

.recipe__list-item::marker {
    color: var(--rt-color-brown-800);
}

ul.recipe__list .recipe__list-item::marker {
    font-size: .75rem;
}

.recipe__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.recipe__table td {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--rt-color-stone-150);
}

.recipe__table tr:last-child td {
    border-bottom: none;
}

.recipe__table b {
    color: var(--rt-color-brown-800);
}

@media (min-width: 600px) {
    .recipe {
        border-radius: 15px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .recipe__image-wrapper {
        padding: 2rem;
    }

    .recipe__image {
        border-radius: 15px;
    }
}